:root {
    --ff: 'Nunito', sans-serif;
    font-family: var(--ff);
    font-size: 10px;
    background-color: #f2f6ff;
}

body {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.nav ul li {
    display: flex;
    align-items: center;
}

.nav svg {
    width: 24px;
    height: 24px;
    color: #000;
    fill: currentColor;
    margin: 7px 10px;
}