:root {
    --title: "Alata", sans-serif;
    --ff1: "Nunito", sans-serif;
    --ff2: "Coiny", cursive;
    --fc1: #f2f6ff;
    font-family: var(--ff1);
    font-size: 10px;
    background-color: #2a2a2a;
    min-width: 300px;
    overflow-x: hidden;
}

body {
    display: flex;
}

#page {
    height: 100vh;
    width: 100vw;
}

.nav {
    position: fixed;
    display: grid;
    grid-template-rows: 5% 95%;
    justify-content: center;
    background-color: #006989;
    height: 100vh;
    padding: 0 2%;
}

.mobile {
    display: none;
}

.nav ul li {
    padding: 10px 0;
}

.nav a {
    color: var(--fc1);
}

.favourites a {
    color: #FFC876;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.nav svg {
    margin: 0;
    width: 36px;
    height: 36px;
    transition: 0.3s ease;
}

.nav svg:hover {
    color: #ffbe5d;
    transition: 0.3s ease;
}

.relevant svg, .form-cntr svg {
    width: 28px;
    height: 28px;
}

.nav svg, .head svg, .form-cntr svg {
    color: var(--fc1);
    fill: currentColor;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--fc1);
    font-family: var(--ff2);
    font-size: 3.2rem;
}

nav, .secondary {
    align-self: center;
}

.head {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 1% 0;
    margin: 0 0 0 calc(4% + 36px);
}

.head svg {
    width: 32px;
    height: 32px;
    transition: 0.3s ease;
}

.head svg:hover {
    cursor: pointer;
    color: #febc5a;
    transition: 0.3s ease;
}

.user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user img {
    width: 40px;
    height: 40px;
    border-radius: 25px;
    border: 3px solid #f2f6ff;
}

.user span {
    font-size: 1.4rem;
    color: var(--fc1);
}

.content {
    display: grid;
    grid-template-rows: 0.1fr auto 0.5fr;
    margin: 0 0 0 calc(4% + 36px);
    padding: 0 5%;
}

.heading {
    padding: 2% 0 4% 0;
    align-self: center;
}

.heading > h1 {
    font-family: var(--title);
    font-weight: bold;
    font-size: 3.6rem;
    color: #039dcc;
    text-align: center;
}

.favourites {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-template-rows: 250px;
    grid-auto-rows: 250px;
    gap: 10px;
}

.book {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.7fr 0.3fr;
    color: var(--fc1);
    font-size: 1.8rem;
}

.form-cntr {
    position: absolute;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #a2a2a2;
    background-color: #2a2a2a;
    padding: 20px;
    border-radius: 5px;
}

form > div {
    padding: 10px;
}

form p {
    color: var(--fc1);
    font-size: 1.4rem;
    padding-bottom: 3px;
}

label {
    display: block;
    color: var(--fc1);
    font-size: 1.2rem;
}

input[type="text"], input[type="number"] {
    appearance: none;
    background-color: inherit;
    color: var(--fc1);
    border: 1px solid #a2a2a2;
    border-radius: 4px;
    height: 25px;
}

input[type="text"]:focus, input[type="number"]:focus {
    outline: none;
    border: 1px solid #FFC876;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { /* removes incrementer/decrementer */
  -webkit-appearance: none; 
}

input[type=number] {
  -moz-appearance: textfield;
}

.complete {
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    appearance: none;
    background-color: #b8422b;
    border: 1px solid #ff6969;
    border-radius: 3px;
    width: 16px;
    height: 16px;
}

input[type="checkbox"]:checked {
    background-color: #13A422;
    border: 1px solid #26d237;
}

fieldset > div {
    padding: 10px;
}

.complete {
    color: var(--fc1);
    font-size: 1.6rem;
}

.btn > button {
    appearance: none;
    background-color: #006f90;
    box-shadow: 0 0 6px 1px rgb(57, 64, 80) inset;
    font-family: var(--ff1);
    font-size: 1.4rem;
    border: none;
    border-radius: 4px;
    color: var(--fc1);
    padding: 5px 20px;
}

.btn > button:hover {
    box-shadow: 0 0 1px 1px rgba(57, 64, 80) inset;
    cursor: pointer;
}

.form-cntr svg {
    color: #d7d7d7;
    position: absolute;
    right: -10px;
    top: -10px;
}

.form-cntr svg:hover {
    color: rgb(228, 83, 81);
    cursor: pointer;
}

.new {
    background-color: inherit;
    border: 1px solid rgb(140, 140, 140);
    border-radius: 5px;
}

.title {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}

.title > cite {
    font-family: var(--title);
    font-style: italic;
    color: #039dcc;
}

.btns {
    display: flex;
}

.remove, .read-status {
    width: 100%;
}

.btns button {
    font-family: var(--ff1);
    font-size: 1.4rem;
    appearance: none;
    width: 100%;
    height: 100%;
    transition: 0.3s ease;
}

.btns button:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: 0.3s ease;
}

.read-status > button {
    color: var(--fc1);
    background-color: #903937;
    border: 1px solid rgb(255, 124, 124);
    border-radius: 0 0 0 5px;
}

.read-status > .active {
    color: var(--fc1);
    background-color: #004F2D;
    border: 1px solid green;
}

.remove > button {
    background-color: #cfcfcf;
    border: 1px solid #8c8c8c;
    border-radius: 0 0 5px 0;
}

@media only screen and (max-width: 1100px) {
    #page {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto-fit, 2fr);
    }

    .head svg {
        color: #FFC876;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
        position: fixed;
        bottom: 0;
        width: 100%;
        border-radius: 10px 10px 0 0;
    }

    .mobile ul {
        display: flex;
        place-content: center;
    }

    .mobile ul li {
        margin: 20px 0;
    }

    .mobile svg {
        width: 36px;
        height: 36px;
    }

    .content {
        padding-bottom: calc(76px + 5%);
    }

    .book {
        grid-template-rows: 1fr 0.5fr;
        grid-auto-rows: auto;
    }
}

@media only screen and (max-width: 500px) {
    .book cite, .book p {
        font-size: 4vw;
    }
}