:root {
    --ff: 'Nunito', sans-serif;
    font-family: var(--ff);
    font-size: 10px;
    background-color: #f2f6ff;
}

body {
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 10% 90%;
    height: 100vh;
}

.nav {
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 10% 70% 20%;
    justify-content: center;
    font-size: 1.4rem;
    background-color: #62A172;
}

.nav ul li {
    display: flex;
    align-items: center;
}

.nav ul li a {
    text-decoration: none;
    color: #f2f6ff;
}

.nav svg {
    width: 32px;
    height: 32px;
    color: #f2f6ff;
    fill: currentColor;
    margin: 7px 7px 7px 0;
}